<!-- LoginAction.vm: Start -->
<ul class="sidebar-nav">
#if ($action != "")
	#if ($userName != "")
		<li>
			<strong>
			<i>$userName</i>
			</strong>
		</li>
	#end
	<li>
		<a href="$action.Url">$translations.Translate($action.Text)</a>
	</li>
	#if ($changePassword != "")
		<li>
			<a href="$changePassword.Url">$translations.Translate($changePassword.Text)</a>
		</li>
	#end
#end
</ul>
<!-- LoginAction.vm: End -->
