<!-- ProjectSideBar.vm: Start -->
<ul class="sidebar-nav">
  #foreach ($link in $links)
  <li>
    <a href="$link.Url" class="$link.LinkClass">$translations.Translate($link.Text)</a>
  </li>
  #end
</ul>
<!-- ProjectSideBar.vm: End -->
